<!-- <p-accordion>
    <p-accordionTab header="Header 1">
       Content 1
    </p-accordionTab>
    
</p-accordion> -->

<!-- <div *ngFor="let gener of alldetails">
    <h1  style="color:blueviolet">{{gener.gener}}</h1>
    <div *ngFor="let movie of gener.movies">
        <div style="border: 1px  solid black;width:150px">
            <img src={{url+movie.poster_path}} >
            <h5 (click)="onclick(movie.id)" >{{movie.original_title}}</h5>
            <p hidden>{{movie.id}}</p>
        
        </div>
<br>
    </div>

</div> -->

<div *ngFor="let gener of alldetails">
    <h1  style="color:red;text-align: center;">{{gener.gener}}</h1>
    <div class="card-data">
    <div *ngFor="let movie of gener.movies" class="card">
        <div class="card" style="width: 18rem;" (click)="onclick(movie.id)">
            <img class="card-img-top" src={{url+movie.poster_path}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{movie.original_title}}</h5>
           
            </div>
          </div>
        </div>

    </div>
    <br>
    <hr style="color:blue">
    </div>



