.card-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    width: 18%;
    height: 500px;
    line-height: 100px;
  
    margin: 10px;
    color: black;
    text-align: center;
    vertical-align: middle;
  }