<div *ngIf="MovieInfo">
    <h1 style="color: blue;margin-left: 30px;">{{MovieInfo.title}}</h1>
    <img style="margin-left: 30px;" src={{url+MovieInfo.poster_path}} >
    <br>
    <div>
    <h2  style="margin-left: 30px;">Overview</h2><br>
    <h4 style="margin-left: 30px;">{{MovieInfo.overview}}</h4>
    <h2  style="margin-left: 30px;">Popularity</h2>
    <h4 style="margin-left: 30px;"><p>{{MovieInfo.popularity}}</h4>
        <h2  style="margin-left: 30px;">Release Date</h2>
    <h4 style="margin-left: 30px;"><p>{{MovieInfo.release_date}}</h4>
    
</div>
</div>